
<div class="hero">
  <div class="row">
     <div class="span12">
        <!-- Big title. Add class "color" for pink color. -->
        <h1>Web Design <span class="color thebigampersand">&amp;</span> Development</h1>
        <!-- Another title -->
        <h2 class="color">Do you want your website to rock?</h2>
        <hr>
        <!-- <p>I am an independent freelance web developer who has contracted for a number of fantastic companies including Zurich, Transport for London, Rubicon Software and Avvio. I am passionate about the work I do and if you are in need of advice or planning a new web presence, I would love to hear from you...</p> -->
        
        <div class="rounds">
           <!-- Features circles. Edit below details as per your need. -->
           <div class="round design"><a href="#">Design</a></div> 
           <div class="round photos"><a href="#">Photos</a></div>
           <div class="round code"><a href="#">Code</a></div> 
           <div class="round writing"><a href="#">Copy</a></div>
        </div>
        <div id="detailbox">All make for a great website, explore the items above!</div>
     </div>
  </div>
</div>
<!-- <div class="row-fluid">
    <div class="span6">
        <h3 class="color caps">Who, what, where?</h3>
        <p><%= introduction %></p> 
    </div>
    <div class="span6">
        <div class="row-fluid">
            <div class="span6">
                <h3 class="color">What I'm doing today</h3>
                <p><%= currently %></p>                          
            </div>
            <div class="span6">
                <h3 class="color">Projects</h3>
                <ul>
                    <% _.each(projects, function(project){ %>
                        <li><%=project%></li>
                    <% }); %>
                </ul>               
            </div>            
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h3 class="color">Looking for a Coder?</h3>
                <p><%= looking %></p>                                
            </div>
            <div class="span6">
                <h3 class="color">Interested in Coding?</h3>
                <p><%= coding %></p>
            </div>            
        </div>
    </div> -->
<div class="cta">
      <div class="row"><!-- 
         <div class="span6">
            <h2>Keep on learning<span class="color">!</span></h2>
         </div>
         <div class="span6 right-p">
            <p>Like any other profession, the web industry is forever changing. I am always excited about this and love to learn new skills, especially when they make the web better not just for us "geeks" but the end-user too!</p>
         </div>
       --></div>
   </div>
   <div class="cta">
      <div class="row"><!-- 
         <div class="span6">
            <h2>Helping you make sense of it<span class="color">!</span></h2>
         </div>
         <div class="span6 right-p">
            Para
            <p>I spend a lot of time, looking at ways of simplifying the technology workflow, as this helps deliver a better service to customers. One I hope they like. Lots!</p>
         </div>
       --></div>
   </div>

</div>