<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Role saved successfully
        </div>
    </div>
</div>
<h2 class="title editable"><%= title %></h2>
<div id="role-order" class="order editable">
    <h3><%= order %></h3>
</div>
<div id="role-startdate" class="startdate editable">
    <h3><%= startdate %></h3>
</div>
<div id="role-enddate" class="enddate editable">
    <h3><%= enddate %></h3>
</div>
<div id="role-location" class="location editable">
    <h3><%= location %></h3>
</div>
<div id="role-description" class="description editable">
    <p><%= description %></p>
</div>
