<div class="home-hero">
            <h1>Nick Lewis</h1>
            <h3>Creative Web Developer, Writer & Photographer</h3>

    <br/>
    <div style="opacity: .9;">
        <a class="btn btn-large" href="#articles"><i class="pull-left icon-pencil" /> Articles</a>
        <a class="btn btn-large" href="https://github.com/nickeblewis/nicklewis-net" target="_blank">
            <i class="pull-left icon-picture" style="margin-right:6px"/>
            Photography</a>
    </div>
    <div style="opacity: .9;">
        <a class="btn btn-large" href="#articles"><i class="pull-left icon-book" />Resume</a>
        <a class="btn btn-large" href="https://github.com/nickeblewis/nicklewis-net" target="_blank">
            <i class="pull-left icon-book" /> Availability</a>
    </div>
    <div style="opacity: .9;">
        
        <a class="btn btn-extra-large" href="https://github.com/nickeblewis/nicklewis-net" target="_blank">
            <img src="img/github.png" class="pull-left" style="margin-right:6px"/> View Projects<br>on GitHub</a>
    </div>


</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nickeblewis&repo=nicklewis-net&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nickeblewis&repo=nicklewis-net&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      <li class="follow-btn">
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
  src="//platform.twitter.com/widgets/follow_button.html?screen_name=nicklewis"
  style="width:300px; height:20px;"></iframe>
      </li>

      <li class="tweet-btn">
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
        src="https://platform.twitter.com/widgets/tweet_button.html"
        style="width:130px; height:20px;"></iframe>
      </li>

    </ul>
  </div>
</div>