<div class="row-fluid">
    <div class="span6">
        <h2>A time for change...</h2>
        <p><%= introduction %></p> 
    </div>
    <div class="span6">
        <div class="row-fluid">
            <div class="span6">
                <h2>Current Status</h2>
                <p><%= currentstatus %></p>                          
            </div>
            <div class="span6">
                <h2>Projects</h2>
                <ul>
                    <% _.each(projects, function(project){ %>
                        <li><%=project%></li>
                    <% }); %>
                </ul>               
            </div>            
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h2>Photography</h2>
                <p><%= photography %></p>                                
            </div>
            <div class="span6">
                <h2>Writing</h2>
                <p><%= writing %></p>
            </div>            
        </div>
    </div>
</div>